
@{
	ViewData["title"] = "Cadastro de Cliente";
}
<section class="bg-warning w-100 d-flex flex-column align-items-center p-5">
	<h2 class="font-bahnschrift-condensed fw-bold">Cadastro para Clientes</h2>
	<h4 class="font-bahnschrift-condensed fw-light">Qual seria seu tipo de cliente?</h4>
    <div>
		<a asp-controller="Account" asp-action="CadCliPJ">PESSOA JURÍDICA</a>
		<a asp-controller="Account" asp-action="CadCliPJ">PESSOA FÍSICA</a>
	</div>
</section>
