


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
}
.carousel-item img {
    height: 600px; 
    object-fit: cover;
}

.tamanho-nav-bar{
    height: 130px;

}
.h-medium{
    height: 400px;
}
.h-lit-med{
    height: 300px;
}
.h-little{
    height: 200px;
}
.h-mini{
    height: 100px;
}
.h-big{
    height: 600px;
}
.h-huge{
    height: 800px;
}
.w-medium{
    width: 400px;
}
.w-lit-med{
    width: 300px;
}
.w-little{
    width: 200px;
}
.w-mini{
    width:100px;
}
.font-bahnschrift-condensed {
    font-family: "Bahnschrift", "Bahnschrift Condensed", sans-serif;
}

}

.link-a {
    color: #0000EE;
}
.link-a:hover{
    color: blue;
}
.cursor{
    cursor: pointer;
}

.carousel-item active img{



}
.a-hover{
    color: black;
    text-decoration: none;
    animation-duration: 0.4s;
}
.a-hover:hover{
    color: blue;
}
.fit-cover{
    object-fit: cover;
}
.div-in-cards{
    position: relative;
    overflow: hidden;
    z-index:0
}
.img-in-cards{
    position: absolute;
    z-index: 1;
}
.text-in-cards{
    position: relative;
    height: 40%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    top: 100%;
    transition: 0.2s ease-in-out
}
.div-in-cards:hover .text-in-cards {
    top: 60%;
}
 .bg-pink{
     background-color: rgb(250, 192, 203);
 }
 .img-logo{
     width: 400px;
     height: 320px;
 }